.hero-base{
    background-image: linear-gradient(to left, #247DBE, #71bcf1);
    height: 600px;
    position: relative;
}

.hero-space-image{
    height: 780px;
    width: auto;
    position: relative;
    z-index: 20;
}

.gearImage {
    height: 100%;
    width: 100%;
    animation: gear-anim 7s infinite;
}

.this{
    text-align: right;
}

.mt-4-5{
    margin-top: 35px;
}

.hero-text{
    text-align: right;
}

.gearImage2{
    position: absolute;
    top: -20;
    right: -50;
    height: 40%;
    width: 40%;
    animation: gear-anim 7s infinite;

}

@keyframes gear-anim {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}


.hero-image-bg-left{
    position: absolute;
    top: 150px;
    left: 50px;
    height: 550px;
    width: 550px;
}

.hero-image-bg-right{
    position: absolute;
    z-index: 20;
    top: 30px;
    right: 40px;
}

.hero-text{
    font-size: 8vw;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    line-height: 0.95;
    background: -webkit-linear-gradient(#79c5fc, #91c9f1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}



.btn-explore{
    padding: 5px 30px!important;
    font-size: 30px!important;
    font-weight: 500;
    border-radius: 50px!important;
    color: #1FAAA0!important;
}

.btn-explore:hover .btn-img{
    width: 0;
    margin-left: 0;
    transition: all 1s;
}

.btn-img{
    width: 40px;
    height: auto;
    margin-left: 10px;
    transition: all 0.4s;
}

.hero-base-2{
    background-image: linear-gradient(to left, #f1f1f1, #ffffff);
    padding: 27px 40px;
    height: 280px;
    text-align: right;
}

.content-container{
    width: 700px;
    height: auto;
    float: right;
}

.content-title{
    color: #1FAAA0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 35px!important;
    padding-bottom: 5px;
}

.content{
    color: #546866;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 800px;
}

@media(max-width: 1615px) {
    .hero-text {
        font-size: 8vw;
        transition: all 0.4s;
    }

    .hero-image-bg-left{
        height: 500px;
        width: 500px;
    }

    .hero-base {
        height: 540px;
    }

    .content {
        font-size: 20px;
    }

    .content-container {
        width: 620px;
    }

    .btn-explore {
        margin-top: 12px;
    }


    .hero-base-2 {
        height: 240px;
    }
}

@media(max-width: 1555px){
    .hero-image-bg-left {
        height: 400px;
        width: 400px;
    }

}
