.pros-container {
    background-image: linear-gradient(to top, #247DBE, #71bcf1);
    position: relative;
}

.card{
    width: 28rem;
}

.rowA{
    display: flex;
    justify-content: space-around;

    padding-top: 30px;
    padding-bottom: 40px;
}



.btn-B{
    background-color: #359cc5!important;
    border: 0;
    transition: all 0.4s;
    outline: 0;

    font-size: 17px;
    padding: 5px 10px;

    border-radius: 5px;
    background: #359CC5;
    box-shadow: 3px 3px 15px #2d84a765,
    -3px -3px 15px #3db4e35e;
}


.btn-B:hover{
    font-size: 16px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0)!important;
    transition: all 0.4s;
}

.card-img-top{
    border-radius: 10px 10px 3px 3px!important;
}

.card{
    border-radius: 10px!important;
    border: 0!important;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4) !important;
}

.topTxt{
    padding-top: 30px;
}

.topTitle{
    font-size: 4vw;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Open Sans',
    sans-serif;
}

.topContent{
        color: #ebe9e9;
        font-family: 'Open Sans',
        sans-serif;
        font-size: 28px;
        padding: 0 300px;
        font-weight: 500;

        padding-bottom: 30px;
}

.hrContainer{
    display: flex;
    justify-content: center;
}


.hr-line{
    height: 1px;
    width: 20%;
    background-color: #ebe9e9;
}
