.pros-container {
    background-image: linear-gradient(to left, #247DBE, #71bcf1);
    position: relative;
}

.card{
    width: 28rem;
}

.rowA{
    display: flex;
    justify-content: space-around;

    padding-top: 30px;
    padding-bottom: 40px;
}



.btn-B{
    background-color: #359cc5!important;
    border: 0;
    outline: 0;
}