.pros-container {
    background-image: linear-gradient(to left, #247DBE, #71bcf1);
    position: relative;
}

.card{
    width: 28rem;
}

.rowA{
    display: flex;
    justify-content: space-around;

    padding-top: 30px;
    padding-bottom: 40px;
}



.btn-B{
    background-color: #359cc5!important;
    border: 0;
    transition: all 0.4s;
    outline: 0;

    font-size: 17px;
    padding: 5px 10px;
    border-radius: 5px;

    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4)!important;
}


.btn-B:hover{
    font-size: 16px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0)!important;
    transition: all 0.4s;
}

